<script>
  //$.get('http://localhost:3287/regle/', function(data, status){
  //  $(".regla").html(data);
  //});
  
</script>
<!-- <IndexSnippet> -->
{{#if user}}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h4> <b>{{ user.displayName }}</b></h4>
  </div>
</div>
<div class="regla"></div>
{{/if}}
<!-- </IndexSnippet> -->
